#barchart{
    display: none;
    position: absolute;
    left: 15%;
    max-width: 500px;
}

#barchart text {
    font-size: 14px;
}

.date-display {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.asterisk {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.date-display > span {
    font-size: 20px;
}

.btn {
    font-size: 12px;
    margin-left: 5px;
    border-radius: 5px;
}

#infowindow {
    position: absolute;
    display: none;
    padding-left: 14px;
    padding-right: 14px;
    background-color: rgba(245, 245, 245, .9);
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}

.crash {
    fill: gray;
    stroke: black;
}

.crash:hover {
    fill: red;
    stroke: gray;
}