#barchart{
    display: none;
    position: absolute;
    left: 15%;
    max-width: 500px;
}

#barchart text {
    font-size: 14px;
}

.date-display {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.asterisk {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.date-display > span {
    font-size: 20px;
}

.btn {
    font-size: 12px;
    margin-left: 5px;
    border-radius: 5px;
}