  body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 14px;
        }

        svg {
            display: block;
            margin: auto;
        }

        #infobox {
            position: absolute;
        }

        .far, .fas {
            font-size: 28px;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
            border: 1px solid black;
        }
    
        .crash {
            fill: blue;
            stroke: red;
        }

        .crash:hover {
            fill: yellow;
        }