html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

form {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

.form-wrapper label {
    text-align: right;
}

p {
    font-size: 14px;
}

svg {
    display: block;
    margin: auto;
}

#contact {
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
}

.a:visited {
    text-decoration: none;
    color: black;
}

.far, .fas, .fab {
    font-size: 28px;
    color: black;
}

.far:hover,.fas:hover, .fab:hover, .far:focus, .fas:focus, .fab:focus {
    color: red;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}